# this is available in the image
lua_ssl_trusted_certificate /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem;

# this will need to be mounted into the container
# lua_ssl_trusted_certificate /etc/grid-security/certificates;

lua_ssl_verify_depth 5;

ssl_session_cache   shared:SSL:10m;
ssl_session_timeout 10m;

server {
    listen              8443 ssl;
    server_name         www.example.com;
    keepalive_timeout   70;

    ssl_certificate     /etc/grid-security/hostcert.pem;
    ssl_certificate_key /etc/grid-security/hostkey.pem;
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;
}